In [3]:
from pathlib import Path

import pandas as pd

In [4]:
heights_path = Path('data') / 'heights.csv'
heights_path

PosixPath('data/heights.csv')

In [7]:
heights = pd.read_csv(heights_path, header=None)
heights

   0  1  2  3  4  5
0  5  3  2  1  4  6
1  4  1  6  2  5  3
2  6  5  3  4  1  2
3  1  2  5  3  6  4
4  2  4  1  6  3  5
5  3  6  4  5  2  1

In [14]:
heights[3].apply(lambda x: x**2)

0     1
1     4
2    16
3     9
4    36
5    25
Name: 3, dtype: int64

In [91]:
heights[3]

0    1
1    2
2    4
3    3
4    6
5    5
Name: 3, dtype: int64

In [107]:
def check_pairs(set1,set2,roworcol):
    if roworcol:
        upper = heights.loc[set1]
        lower = heights.loc[set2]
    else:
        upper = heights[set1]
        lower = heights[set2]
    pair = 0
    found = False
    while found == False and pair < 5:
        for i in range(6):
            if (upper[pair] == lower[i]) and (lower[pair] == upper[i]):
                print("pair: "+str(pair)+", "+str(i))
                found = True
        pair+=1

In [113]:
for i in range(5):
    print("row/col:"+str(i))
    check_pairs(i,i+1,True)

row/col:0
pair: 0, 4
row/col:1
pair: 1, 4
row/col:2
pair: 0, 4
row/col:3
pair: 3, 4
row/col:4
pair: 0, 4